<!DOCTYPE html>
<html>

<head>

<title>Dashboard Bot Trading</title>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</head>

<body>

<h1>Dashboard Bot Trading</h1>

<h2>Ganancia del Bot</h2>
<h1 id="ganancia">$0</h1>


<button onclick="iniciarBot()">Iniciar Bot</button>
<button onclick="detenerBot()">Detener Bot</button>


<div id="grafico"></div>


<h2>Operaciones</h2>

<table border="1">

<tr>
<th>Tipo</th>
<th>Precio</th>
<th>Hora</th>
</tr>

<tbody id="tabla_operaciones"></tbody>

</table>


<script>

let chart


function iniciarBot(){
fetch("/start")
}


function detenerBot(){
fetch("/stop")
}



function actualizarGrafico(){

fetch("/data")

.then(r => r.json())

.then(data => {


let puntos = data.tiempos.map((t,i)=>({

x:new Date(t),

y:data.precios[i]

}))


let compras = []
let ventas = []


data.operaciones.forEach(op=>{

if(op.tipo=="compra"){

compras.push({
x:new Date(),
y:op.precio
})

}

if(op.tipo=="venta"){

ventas.push({
x:new Date(),
y:op.precio
})

}

})


let opciones = {

series:[
{
name:"Precio BTC",
data:puntos
},
{
name:"Compras",
data:compras
},
{
name:"Ventas",
data:ventas
}
],

chart:{
type:"line",
height:400
},

markers:{
size:[0,6,6]
},

colors:["#008FFB","#00E396","#FF4560"]

}


if(chart){

chart.updateOptions(opciones)

}else{

chart = new ApexCharts(
document.querySelector("#grafico"),
opciones
)

chart.render()

}

})

}



function actualizarOperaciones(){

fetch("/operaciones")

.then(r => r.json())

.then(data => {

let tabla = document.getElementById("tabla_operaciones")

tabla.innerHTML = ""

data.reverse().forEach(op => {

tabla.innerHTML += `

<tr>
<td>${op.tipo}</td>
<td>${op.precio}</td>
<td>${op.hora}</td>
</tr>

`

})

})

}



function actualizarGanancia(){

fetch("/ganancia")

.then(r => r.json())

.then(data => {

document.getElementById("ganancia").innerText =
"$ " + data.ganancia

})

}



setInterval(actualizarGrafico,5000)
setInterval(actualizarOperaciones,5000)
setInterval(actualizarGanancia,5000)

actualizarGrafico()
actualizarOperaciones()
actualizarGanancia()


</script>


</body>

</html>